.sort-select {
    background: cornflowerblue;
    padding: 15px;
    z-index: 120;
    position: fixed;
}

h2 {
    text-align: center;
}

.product-tile {
    background:lightblue;
    margin: 10px;
}