.product {
    text-align: center;
}

.face {
    font-family: Courier, monospace;
    white-space: nowrap;
    padding-bottom: 20px;
}

.price {
    font-size: 14px;
    padding-bottom: 5px;
}

.date {
    font-size: 12px;
}